.b11{
    background-color: rgb(198, 144, 27);
    height: 80px;
    width: 150px;
    margin-left: 40%;
    font-family: cursive; 
    font-size: larger; 
}
.p11{
    font-family: cursive;
    font-size: larger;
    margin-left: 40%;
}